$primaryColor: #fff;
$accent: rgba(15, 15, 15, 0.825);

@import "node_modules/include-media/dist/_include-media.scss";
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700,600");

body {
    background: $primaryColor;
    font-family: "Helvetica Neue";
    font-weight: 400;
    padding-top: 30px;
    text-align: center;
    overflow-y: hidden;
}

.flex {
    display: flex;
    flex-direction: column;
}

.self-end {
    align-self: flex-end;
    margin-right: 5%;
}

h1, h2, h3, h4, h5, span, p, a, li {
    color: $primaryColor;
}

#header {
    margin-top: 5%;

    span {
        font-size: 30px;
        margin-bottom: 20px;
    }
    @include media(">tablet") {
        span {
            font-size: 50px;
            margin-bottom: 20px;
        }
    }
}

#timer {
    span {
        font-size: 100px;
        margin-bottom: 40px;
    }
    @include media(">tablet") {
        span {
            font-size: 200px;
            margin-bottom: 40px;
        }
    }
}

#buttons button {
    background: $accent;
    border: none;
    color: $primaryColor;
    cursor: pointer;
    padding: 15px 30px;
    margin: 0 auto;
    border-radius: 4px;
}

.hide {
    display: none;
}

#todoInput {
    margin-top: 5%;
    input {
        border-radius: 5px;
        padding: 5px;
        min-width: 200px;
    }
    button {
        background: $accent;
        border: none;
        color: $primaryColor;
        padding: 5px 10px;
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 5px;
    }
}

#todo {
    list-style: none;
    font-size: 20px;
}

#todo:hover {
    opacity: 0.8;
}
